.FurnitureItems{
    background-color: #09284b;
    background-image: url(../../../images/bg_main.png);
    padding-bottom: 180px;
    background-position: center center;
    margin: -50px 0px 50px 0px;
}

/* margin */