.products_exciting_box {
    background: #f4f9fd;
    margin: 0;
} 
.f_pd p {
    padding-right: 109px;
}
.f_pd{
    border-right: 1px solid rgba(128, 128, 128, 0.3);
    /* margin-bottom: 5px; */
}
.exciting_box p {
    font-size: 16px;
    color: #455a65;
    margin: 0px;
    padding-bottom: 45px;
    line-height: 30px;
}