.main{
    background-color: #09284b;
    background-image: url(../../../../images/bg_main.png);
    padding-bottom: 180px;
    background-position: center center;
}
.box-img img {
    width: 212px;
    height: 212px;
    max-width: 100%;
    vertical-align: middle;
}
.box-img {
    background: #051d36;
    text-align: center;
    padding-bottom: 30px;
    min-height: 280px;
    margin-bottom: 30px;
    position: relative;
    border-bottom: 3px solid #007dea ;
    transition: ease all 0.5s;
}
.box-img h4 {
    color: #fff;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0px;
    /* transition: ease all 0.5s ; */
}
.boxes :hover{
    background-color: #007dea;
    transform:scale(1.08);
    z-index: 5;
}
.col-lg-3,.col-sm-6,.col-md-3{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px){
    .col-md-3{
        width: 25%;
    }
}

@media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11,
     .col-md-12, .col-md-2, .col-md-3,
      .col-md-4, .col-md-5, .col-md-6,
       .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
